<footer class="text-center py-4 text-muted border-top mt-auto bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="mb-0 small">
                    &copy; 2025 <strong>TheCoffeeLink</strong>.
                    Addis Ababa, Ethiopia. Developer <strong><a href="https://bil-portfolio.netlify.app/" class="footer_bil">Bilal Nesru</a></strong>
                    <a href="#" class="text-decoration-none ms-2">Privacy</a> | 
                    <a href="#" class="text-decoration-none ms-2">Terms</a>
                </p>
            </div>
        </div>
    </div>
</footer>
